
.navbar, footer {
  background-color: #343252;
  font-family: monospace;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

main{
  overflow-y:  scroll;
  height: 100vh;
}

a{
  text-decoration: none;
}

h1{
  font-size: 30px;
  margin-top: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.post-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-profile img{
  width: 100%;
  height: 150px;
  margin: auto;
  border-radius: 50%;
}

.update-post, .viewpost, .updateuser{
  margin: auto;
  margin-top: 2em;
}

.card-header{
  background-color: lightblue;
  color: black;
}

.alert{
  width: 80%;
  margin: auto;
  position: absolute;
  text-align: center;
  left: 10em;
  top: 70px;
  padding-bottom: 2em;
  z-index: 9999;
  animation-name: animate;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes animate {
  from {
    top: 0px;
  }
   to {
    top: 70px;
   }
}

.dashprofile{
  border-radius: 0 10px 0 10px;
}

.dashcard, .admincard{
  background-color: #343252;
  color: #fff;
  box-shadow: 7px 5px 5px #504c8d;
}

label {
  font-family: serif;
  font-size: 15px;
}

h1, label, .viewpost > h2 {
  color: #34325e;
}

input[type="text"], textarea.form-control {
  font-size: 18px;
}

textarea.form-control {
  background-color: lightblue;
}

footer {
  background-color: #343252;
  height: 50px;
  color: #9d9d9d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header{
  width: 100%;
  height:45vh;
  position:relative;
}

.headerslider2{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: linear-gradient(to right bottom, rgba(105, 95, 194, 0.8), rgba(67, 76, 201, 0.8)), url(../images/download.jpg);
  background-position:top;
  background-size:cover;
  animation:fade2 15s infinite;
}

.headerslider3 {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: linear-gradient(to right bottom, rgba(105, 95, 194, 0.8), rgba(67, 76, 201, 0.8)), url(../images/bg.jpg);
  background-position:top;
  background-size:cover;
  animation:fade3 15s infinite;
}

  .headertext{
    display: flex;
    flex-direction: column;
    z-index: 9000;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:80%;
    margin: auto;
  }

  /*.heading{
    z-index: 9000;
    color: white;
    margin-bottom:1.5rem;
    font-weight:400;
  }*/
  
  .headingprimarymain {
    display:block;
    text-transform:uppercase;
    font-size:4rem;
    margin-top: -19px;
    }
  
    .headingprimarysub {
    display:block;
    font-family:"Satisfy",serif;
    font-size:1.5rem;
    font-style: italic;
    }
    
    @keyframes fade2 {
    
      0% {
        opacity:1;
      }
    
      50% {
        opacity:0;
      }
    
      100% {
        opacity:1;
      }
    }
    
    @keyframes fade3 {
    
      0% {
        opacity:0;
      }
    
      50% {
        opacity:1;
      }
    
      100% {
        opacity:0;
      }
    }

@media screen and (max-width: 680px) {

  .alert{
    width: 80%;
    left: 2em;
  }

}
