{% extends 'base.html' %}

{% block title %}
<title></title>
{% endblock %}

{% block content %}

{% if name %}
    <h1>Hello Added!</h1>

{% else %}
    <h1>User List:</h1>
    <br />
    <div class="shadow p-3 mb-5 bg-body rounded">

    <form method="post" action="">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control") }}
        <br />

        {{ form.email.label(class="form-label") }}

        {{ form.email(class="form-control") }}

        <br />
        {{ form.submit(class="btn btn-primary") }}
    </form>
    </div>

    <br /> <br /><br />
    {% for our_user in our_users %}
        {{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} <br />
    {% endfor %}

{% endif %}

{% endblock %}