{% extends 'base.html' %}

{% block title %}
<title>Post</title>
{% endblock %}

{% block content %} 

    <div class="post viewpost mb-3 p-3 shadow bg-body rounded">
      <h2>{{ post.title }} </h2>
      <p>{{ post.content }}</p>
      <small>By: {{ post.poster.name }}</small> <br />
      {{ post.slug }} | {{ post.date_posted }} <br /><br /><br />

      <a href="{{ url_for('index') }}" class="btn btn-outline-secondary btn-sm">Back to Blog</a>

      {% if post.poster_id == current_user.id %}

      <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-warning btn-sm">Edit Post</a>

      <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>

      {% endif %}

    </div>

{% endblock %}