{% extends 'base.html' %}

{% block title %}
<title>Update</title>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
	
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

{% if id == current_user.id %}

    <h1>Update User...</h1>

    <div class="shadow updateuser p-2 mb-1 bg-body rounded">

    <form method="POST" action="/update/{{ name_to_update.id }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control", value=name_to_update.name) }}
        <br />

        {{ form.username.label(class="form-label") }}

        {{ form.username(class="form-control", value=name_to_update.username) }}
        <br />

        {{ form.email.label(class="form-label") }}

        {{ form.email(class="form-control", value=name_to_update.email) }}

        <br />

        {{ form.profile_pic.label(class="form-label") }}

        {{ form.profile_pic(class="form-control", value=name_to_update.profile_pic) }}

        <br />

        {{ form.favorite_color.label(class="form-label") }}

        {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}

        <br />

        {{ form.about_author.label(class="form-label") }}
        <textarea name="about_author" class="form-control">{{ name_to_update.about_author }}</textarea>

        <br />
        {{ form.submit(class="btn btn-primary") }}

        <a href="{{ url_for('delete', id=id) }}" class="btn btn-danger"> Delete </a>

    </form>
    </div>

{% else %}

    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        Sorry, You can't edit this user!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <h2>Access denied!</h2>
    <p>Sorry, you can't access this user profile...</p>

{% endif %}

{% endblock %}

